.register-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.register-card{
    padding: 1rem;
    border-radius: 40px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
div.submit-button{
    display: flex;
    align-items: center;
    justify-content: center;
}
#inputFirst{
    text-transform: capitalize;
}
#inputLast{
    text-transform: capitalize;
}