.errorCard {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */
    height: 100vh;           /* Full viewport height */
    text-align: center;      /* Center text inside the card */
    background-color: #f8d7da; /* Example background color for the error card */
    color: #721c24;           /* Example text color for the error card */
    border: 1px solid #f5c6cb; /* Example border color for the error card */
    padding: 20px;           /* Padding for the card content */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add some shadow for better visibility */
    margin: 0 auto; /* Center the error card horizontally in its container */
  }
.errorCard p{
    font-size: 2em;
    font-weight: bold;
}
.errorCard img{
    height: 300px;
    width: 300px;
}
.errorMessage{
    padding: 20px;
    background-color: #fffefe;
    border-radius: 15px;
}
.electionBox{
    background-color: rgb(138, 179, 255);
    border-radius: 10px;
    margin: 12px;
    padding: 10px;
}
.electionTitle{
    color: white;
    justify-content: end;
    font-size: 2em;
    font-weight: bold;
}
.electionBox{
    background-color: rgb(44, 118, 255);
    border-radius: 10px;
    color: white;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5)
}
.electionBox:hover{
    background-color: rgb(103, 156, 255);;
}
.electionOption{
    
}
.pageButtons{
    flex-direction: row;
    
}